
.body {
    display: flex;
    flex-direction: column;
    background-image: url(../public/imgPortada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
    position: relative;
}

.header {
    width: 100%;
    height: 80vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.header h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.header h3 {

    margin-bottom: 4rem;
}

.header h6 {
    align-self: center;
    padding: 0;
    margin: 0;

}



